@model List<Person>


<div class="container">

    <div class = "row">
        <div class="col-md-2">Id </div>
        <div class="col-md-2">Name </div>
        <div class="col-md-2">City  </div>
        <div class="col-md-2">Phone Number  </div>
    </div>

    @foreach (var item in Model) 
    {
        <div class = "row">
            <div class="col-md-2">@item.Id  </div>
            <div class="col-md-2">@item.personName  </div>
            <div class="col-md-2">@item.personCity </div>
            <div class="col-md-2">@item.personPhoneNumber </div>
            <div class="col-md-2"><a href="#" onclick="location.href =
            '@Url.Action("DeletePerson","People", new { name = item.personName })'">Remove</a>
            </div>
        </div>
    }

</div>